*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

i{
  padding-right: 5px;
}

a{
  color: #0061ff;
}

hr{
  color: #d0d0d3;
}

h2{
  font-size: 42px;
}

h3{
  font-size: 25px;
}

.prop-flex{
  display: flex;
}

.margin{
  margin: 30px 0 25px 0;
}

.margin-top{
  margin-top: 15px;
}

.list-nn{
  list-style: none;
}

.border{
  border: 1px solid #d0d0d3;
}

.bold{
  font-weight: 700;
}

img{
  width: 100%;
}

.wrap{
  flex-wrap: wrap;
}


.widht-80{
  width: 80%;
}

.button-blue{
  border: 1px solid #0061ff;
  background-color: #0061ff;
  color: white;
  padding: 5px 20px 5px 20px;
}

.container-big{
  width: 80%;
  height: 800px;
}
  

.container-small{
  width: 70%;
  margin: 0 auto;
}

nav{
  height: 60px;
  background-color: white;
  border: 1px solid #d0d0d3;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

header nav{ 
  justify-content: space-between;
  align-items: center;
} 

header nav ul{
  align-items: center;
}

header nav ul li{
  padding: 0 20px;
  list-style: none;
}

header nav .bottom-line li a:hover{
  border: 2px solid black;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  padding-bottom: 19px;
}

header nav ul li a,
.jumbotron  a{
  text-decoration: none;
  color: black;
}

header .first-level{
  position: relative;
}

header .second-level{
  position: absolute;
  top: 40px;
  left: 20px;
  opacity: 0;
  transition: all;
}

header .first-level :hover .second-level{
  opacity: 1;
  top: 44px;
}

header .second-level li{
  height: 30px;
  width: 150px;
  padding-top: 4px;
}

header .second-level li a{
  padding-top: 10px;
}

header .second-level li{
  background-color: white;
  box-shadow: 0 0 3px 
  
}
















.jumbotron{
  margin-top: 60px;
  background-color: #b4d0e7;
  max-height: 670px;
}

.jumbotron h1{
  font-size: 76px;
  text-align: left;
}

.jumbotron .button-blue{
  padding: 8px 50px 8px 50px;
  margin: 30px 0 10px 0px;
  font-size: 15px;
}

.jumbotron i{
  margin: 25px 0 15px 0;
  font-size: 40px;
}


.jumbotron .container-big{
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  justify-content: space-between;
  
}

.jumbotron .container-big .prop-flex{
  margin-top: 30px;
  text-align: left;
}


.beetwen-icon{
 display: flex;
 justify-content: space-between;
}

.center-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
  width: calc(90%/3);
  border: 1px solid #d0d0d3;
  border-bottom: 0px;
}


main .top{
  margin-top: 170px;
}

main .three-column{
  justify-content: space-between;
  height: 1000px;
}

main .three-column section{
  width: calc(90%/3);
  padding: 0 30px; 
}

main section ul{
  list-style: none;
}

main section ul li{
  display: flex;
  padding: 10px 0;
  font-size: 15px;
}

main section .grey ul li:last-child{
  color: #627381;
}

main section ul li i{
  padding-right: 3px;
}

main .button-blue{
  padding: 8px 48px;
}

main hr{
  width: 50px;
}

main section .check li i{
  color: #0061ff;  
}

.large-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: 1px solid #d0d0d3;
  border-bottom: 0px;
  margin-top: 30px;
}


.due .border{
  display: flex;
  justify-content: space-around;
}

.due .border .button-blue{
 margin-top: 16px;
 margin-bottom: 60px;
}
  
.container-small .enterprise{
  padding: 10px;
  line-height: 30px;
}

main .tre{
  margin-top: 80px;

}

.box-left{
  width: 60%;
}

.box-right{
  width: 40%;
  padding: 50px 0px 0px 50px;
}

.tre button{
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: black  ;
  padding: 8px 20px;

}

main .quattro{
  margin-top: 100px;
}

.quattro p{
  margin-top: 30px;
}

.quattro .card{
  margin-top: 60px;
  padding: 0px;
 }
 
  .cinque {
   padding-bottom: 40px;
  }
 
 .container-small.cinque h2{ 
  width: 55%;
  padding: 200px 0 40px 0 ;
 }


.fixed-square{
  overflow: auto;
  height: 30vw;
  width: 40vw;
  padding: 40px;
}

.fixed-square img{
  width: 100px;
  padding-bottom: 30px;
}


.fixed-square p{
  margin: 30px 0px;
}

.all-widht-box .immages{
  width: 30vw;
}

footer .container-small{
justify-content: space-between;
}

.immages .square {  
  width: 15vw;
  height: 15vw;
  justify-content: center;
  align-items: center;
}

.immages .square img{
  width: 50%;
  filter: invert(1);
}

.immages .one{
background-color: #a2d39b;
}
.immages .two{
background-color: #61082c;
}
.immages .three{
background-color: #1d93ce;
}
.immages .four{
background-color: #f91c1d;
}
.immages .five{
background-color: #d5021f;
}
.immages .six{
background-color: #b4d0e7;
}
.immages .seven{
background-color: #0d2481;
}
.immages .eight{
background-color: #fed830;
}

.all-widht-box.two{
  background-color: #b4d0e7;
  height: 300px;
}

.container-small.sei{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container-small.sei h2{
  width: 50%;
  color: #61082c;
}

.container-small.sei button{
  padding: 10px 60px 10px 60px;

  background-color: white;
  border:1px solid white;
}

.container-small.sette{
  margin-top: 80px;
}

.container-small.sette hr{
  width: 100%;
  margin: 10px 0 25px 0;
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 6em;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
    color: #919193;
    margin-top: 20px;
}

.container-small.sette h3{
  padding-bottom: 45px;
}

.container-small.sette div{
  border-left: 0px;
  border-right: 0px;
}

.container-small.sette i{
  padding-right: 30px;
}

.container-small.sette p{
  font-weight: 700;
}

footer{
  background-color: black;
  height: 450px;
  margin-top: 90px;
}

.container-small.otto{
  color: white;
  width: 80%;
}

.container-small.otto ul{
  padding: 80px 0;
}

.container-small.otto li{
  margin-bottom: 10px;
}

.container-small.otto li a,
.container-small.otto span a{
text-decoration: none;
color: white;
}

.container-small.otto span{
 margin: 20px 0px;
}
.container-small.otto hr{
  margin-bottom: 45px;
  width: 120px;
}
